body
{
    border: 0;
    margin: 5px;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.alert
{
    color: #FFFFFF;
    margin: 5px 0px;
}

.countdown, .settings { padding: 10px; }

.settings .box-button
{
    color: #333333;
    background-color: rgba(255, 255, 255, 1.0);
    margin: 10px;
}

#add-alert, .box-button, .settings { display: inline-block; }

#add-alert, .box-button
{
    background-color: #EEEEEE;
    padding: 5px;
    color: #46a4da;
    cursor: pointer;
}

#add-alert:hover, .box-button:hover
{
    color: blue;
}

.countdown
{
    font-size: 14pt;
}

.settings
{
    font-size: 10pt;
    vertical-align: middle;
}

.settings-field-name
{
    display: inline-block;
    text-align: right;
    width: 60px;
}

.settings-field-form
{
    display: inline-block;
    margin: 2px;
}

select { width: 160px; }

input, select
{
    margin: 0;
    padding: 0;
}

input[type=text]
{
    border: 0;
    font-size: 12px;
    height: 11px;
    margin: 1px;
    padding: 4px;
    width: 150px;
}